@media screen and (max-width: 1000px) {
  #root {
    height: 60vh !important;
  }
  .name {
    top: 20% !important;
  }
}
body, h1, html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #191919;
}
h1 {
  font-size: 40px;
}
a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #5ad8ff;
}
#root {
  background-color: #191919;
  height: 100vh;
}
.navbar {
  background: rgb(29 29 29 / .9);
  position: fixed;
  top: 18px;
  left: 50px;
  width: 40%;
  border-radius: 100px;
  padding: 1.5%;
  display: flex;
  justify-content: space-around;
  color: #5ad8ff;
  font-size: .9rem;
  z-index: 10;
  border-radius: 15px;
}
.Projects:before {
  content  : "HELLO";
  position : absolute;
  z-index  : 100;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                      rgb(255 255 255 / 0%),
                      rgb(25 25 25) 90%);
  width    : 100%;
  height   : 5em;
}
@keyframes colorChange {
  25% {
    background: #5afdd0;
  }
  50% {
    background: #fde15a;
  }
  75% {
    background: #fd5a5a;
  }
  100% {
    background: #5ad7fd;
  }
}
.navbar2 {
  letter-spacing: 1.5px;
  animation: fadeIn 2s ease, colorChange 3s infinite;
  color: #000000;
  height: fit-content;
  z-index: 12;
  top: 0px;
  width: 100%;
  background: #5ad7fd;
  position: fixed;
  text-align: center;
  font-family: 'Raleway';
}
a:hover {
  color: white;
  border-bottom: 1px solid #ffffff;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.name {
  color: white;
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  animation: fadeIn 2s forwards;
}
.colorHello {
  color:#5ad8fe;
}
.hoverOverObjects {
  font-weight: 100;
}

.Projects {
  height: fit-content;
  width: 100%;
  background-color: #191919;
  overflow-x: hidden;
}
@keyframes slideIn {
  0% {
    opacity: 0%;
    transform: translateX(-50px);
  }
  50% {
    opacity: 25%;
  }
  85% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
#WorkCompleted {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
}
.completedWorkColor {
  color: #5ad8fe;
  letter-spacing: 2px;
  height: fit-content;
  text-shadow: 0 1px 20px rgb(57 164 195);
}
.ProjectsDisplay {
  width: 100%;
  height: fit-content;
  /* display: flex; */
  flex-wrap: wrap;
}
.ProjectHolder {
  width: 100%;
  opacity: 0%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 35px rgb(0 0 0 / 14%);
}
img {
  border-radius: 50px;
  width: 100%;
  height: 75%;
}
.iTag {
  color: #54c8ec;
}
.ProjectsTitle {
  height: fit-content;
  font-size: 1rem;
  color: #5ad7fd;
  font-family: 'Raleway', sans-serif;
  background: #212020;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 0.5rem;
}
.ProjectContentHolder {
  padding-left: 5%;
  width: 95%;
  display: flex;
}
.ProjectInformationHolder {
  padding-left: 2%;
  width: 50%;
}
.ProjectsPicture:hover {
  filter: blur(1px);
}
@keyframes slideRight {
  0% {
    opacity: 0%;
    transform: translateX(200px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0%;
    transform: translateX(-200px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
.leftisVisible {
  animation: slideLeft 2.5s forwards;
}
.rightIsVisible {
  animation: slideRight 2.5s forwards;
}
.AboutMeSection {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 1%;
  flex-direction: column;
  overflow-x: hidden;
}
.AboutMeHeader {
  width: 100%;
  height: fit-content;
  text-align: center;
}
.AboutMeText {
  color: #5ad8fe;
  letter-spacing: 2px;
  height: fit-content;
  text-shadow: 0 1px 20px rgb(57 164 195);
}
.AboutMePicture {
  margin-left: 6%;
}
.AboutMeContent {
  display: flex;
  width: 100%;
  height: 100%;
}
.AboutMePic {
  width: fit-content;
  filter: saturate(0.5);
  box-shadow: 0 1px 30px rgb(90 216 254 / 32%);
  margin-top: 3%;
  height: 400px;
}
.AboutMeInformation {
  width: 65%;
  height: fit-content;
  margin-left: 1%;
  margin-top: 1%;
  display: flex;
  color: white;
  flex-wrap: wrap;
}
.AboutMeInformationTitle {
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #5ad7fd;
  background: #212020;
  font-family: 'Raleway';
  padding: 5px;
  box-shadow: 0 1px 20px rgb(62 130 150 / 27%);
}
.AboutMeInformationText {
  width: 50%;
  margin-bottom: 2%;
}
.AboutMeInformationParagraph {
  margin-top: 5%;
  color: #ffffffcc;
  font-family: 'Raleway';
  text-align: center;
  letter-spacing: 1.7px;
  margin-right: 5%;
}
.AboutMeSkills {
  width: 94%;
  color: #5ad7fd;
  margin-left: 6%;
  font-family: 'Raleway';
  margin-top: 1%;
  text-align: center;
}
.icons {
  margin-right: 1%;
}
.tilt {
  height: fit-content;
  width: 600px !important;
  padding: 0px !important;
  margin: 0px !important;
  background: none !important;
  border-radius: 0px !important;
  color: none !important;
  font-size: 0px !important;
  line-height: 0 !important;
  box-shadow: none !important;
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(
0deg
) rotateY(
0deg
) scale3d(1, 1, 1);
}
.button{
  position: absolute;
  transform: translateZ(100px);
  top: 25%;
  left: 40%;
  border: 0px;
  border-radius: 4px;
  font-size: .8rem;
  padding: 10px;
  background: #212020a1;
  color: #50b5d5;
}
.textForProjects {
  color: white;
  font-family: 'Raleway';
  margin: 0px;
  margin-bottom: 3%;
  letter-spacing: .5px;
}
.textForProjectsParagraph {
  color: #4ca6c3;
  font-family: 'Raleway';
  letter-spacing: 2px;
  line-height: 2;
  margin-right: 3%;
}
.textForProjectsTitle {
  color: #5ad7fd;
  font-family: 'Raleway';
  text-align: center;
  margin: 0px;
  margin-bottom: 3%;
  letter-spacing: .5px;
}
.button {
  position: absolute;
  top: 10%;
  font-family: 'Raleway';
  background: #1d1d1dba;
  color: #5ad7fdf2;
  border: 0px;
  border-radius: 15px;
  font-size: 1rem;
  padding: 1.5%;
  transform: translateZ(100px);
}

.viewCodeOrLive {
  height: fit-content;
  font-size: 1rem;
  color: #5ad7fd;
  font-family: 'Raleway', sans-serif;
  background: #212020;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #5ad7fd2b;
  margin-right: 1%;
  box-shadow: 0 1px 20px rgb(62 130 150 / 27%);
}
.viewCodeOrLive:hover {
  color: #5ad7fd;
  border: 1px solid #5ad7fdf2;
  box-shadow: 0 1px 20px rgb(62 130 150);
}
.atagForButton:hover {
  border-bottom: 0px solid;
}
.contactMe {
  margin-top: 5%;
  width: 100%;
  height: 35%;
}
.contactMeHeader {
  width: 100%;
  text-align: center;
}
.contactMeSection {
  height: fit-content;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
@keyframes changeColor {
  0% {
    box-shadow: 0 1px 20px rgb(255 255 255 / 0%)
  }
  100% {
    box-shadow: 0 1px 20px rgb(62 130 150 / 75%);
  }
}
.contactMePara {
  border-radius: 10px;
  margin: 0 auto;
  color: #5ad7fd;
  background: #212020;
  font-family: 'Raleway';
  padding: 25px;
  box-shadow: 0 1px 20px rgb(62 130 150 / 50%);
  font-size: 20px;
  animation: changeColor 2s infinite ease-out;
}